<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default" defer></script>
  <script> var exports = {}; </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE5NVWlFtuddGJGJxUiAS7Po3_jQePuts&callback=initMap&libraries=places&v=weekly"> </script>
  <script src="/scripts/jquery-3.6.0.min.js" defer></script>
  <script src="/scripts/handlers/footer-buttons.js" defer></script>
  <script type="module" src="/scripts/basicmap.js" defer ></script>

  <style>
    .controls {
      margin-top: 10px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #origin-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 1%;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 190px;
    }

    #destination-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 1%;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 190px;
      position: absolute;
      right: 0px;
      

    }
    #input-locations {
      display: flex;
      justify-content: space-between;
    }

    .arrow {
      border: solid black;
      border-width: 0 6px 6px 0;
      display: inline-block;
      padding: 4px;
    }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  /* .change-route-button {
    background-color: #FF912C;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    width: 180px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    } */


    #origin-input:focus,
    #destination-input:focus {
      border-color: #4d90fe;
    }

    a[href^="http://maps.google.com/maps"]{display:none !important} 
    a[href^="https://maps.google.com/maps"]{display:none !important}

     .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display:none;
    } 
  </style>
</head>

<body>
  <!--Header-->
  <header>
    <div id="header-logo-container">
      <img id="header-logo" src="./images/Untitled design (7).png">
    </div>

    <div class="logout-contain">
        <button class="logout-button">Logout</button>
    </div>
  </header>

  <!--Main-->
  <main id="map-page">

    <div id="map-interaction-elements">
      <div id="input-locations">
      <input id="origin-input" class="controls" type="text" placeholder="Origin" />

      <input id="destination-input" class="controls" type="text" placeholder="Destination" />
    </div>

    <div id="prev-route-div">
      <i class="arrow left"></i>
      <button class="change-route-button" id="prev-route">Previous Route</button>
    </div>
    <div id="next-route-div">
      <button class="change-route-button" id="next-route">Next Route</button>
      <i class="arrow right"></i>
    </div>
      
    </div>

    <div id="map-x-axis">
      <div id="map-y-axis">
        <div id="map-section">
          <!--Actual Map Rendering-->



        </div>


      </div>
    </div>
    <div id="info">
      <div class="map-info">
        <div id="operators">
          <div id="calculation-form">

            <div>

            </div>
         
            <div>
              
              <input type="text" name="" id="gas-price" placeholder="Cost of Gas ($/L):"/><br />
            </div>
            <div>
              <input type="button" value="calculate" id="calculate" class="button"/>
  
            </div>
            <div id="result"></div>
  
          </div>
         
<!-- 
          <br />
          <h3>
            <div id="result"></div>
            </h2>
        </div> -->
      </div>
      <!-- <div id="location">
        <div class="button-container">
          <div class="centre">
            <button class="buttons" id="track-button">Get Location</button>
          </div>
        </div>
        <div class="button-container">
          <div class="centre">
            <button class="buttons">Extra </button>
          </div>
        </div>
      </div> -->
    </div>
    </div>
    <!--The div element for the map -->
    <!-- <div id="map">

    </div>

    <button id="track-button">Find Me!</button>

    <p id="coordinates"></p> -->

  </main>
  <!--Footer-->
  <footer>
    <div id="navigation-buttons">
      <!--Home Button-->
      <div class="nav-buttons">
        <div class="top-bar">
        </div>
        <div class="hover-button" id="home-button">
          <div class="button-img">
            <img src="images/buttons/home-button.png">
          </div>
          <div class="button-title">
            <p>Home</p>
          </div>
        </div>
      </div>
      <!--Favorites Button-->
      <div class="nav-buttons">
        <div class="top-bar">
        </div>
        <div class="hover-button">
          <div class="button-img">
            <img src="images/buttons/favorites-button.png">
          </div>
          <div class="button-title">
            <p>Favorites</p>
          </div>
        </div>
      </div>
      <!--User Button-->
      <div class="nav-buttons" id="profile-button">
        <div class="top-bar">
        </div>
        <div class="hover-button">
          <div class="button-img">
            <img src="images/buttons/user-button.png">
          </div>
          <div class="button-title" id="profile">
            <p>Your Profile</p>
          </div>
        </div>
      </div>
      <!--Map Button-->
      <div class="nav-buttons" id="map-button">
        <div class="top-bar">
        </div>
        <div class="hover-button">
          <div class="button-img">
            <img src="images/buttons/map.png">
          </div>
          <div class="button-title">
            <p>Map</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE5NVWlFtuddGJGJxUiAS7Po3_jQePuts&callback=initMap&v=weekly"
        defer></script> -->
  <!--END OF BODY-->


</body>

</html>