<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="./styles/mapstyle.css" />
    <script type="module" src="./scripts/basicmap.js"></script>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>

    <button id="track-button">Find Me!</button>

    <p id="coordinates" ></p>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE5NVWlFtuddGJGJxUiAS7Po3_jQePuts&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>