<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup</title>
    <link href="/styles/popup-test.css" rel="stylesheet">

    <script src="./scripts/error_notif.js" defer></script>
</head>

<body>

    <div class="error">
        <div class="error-container">
        
            <div class="error-title">
                <div class="title">
                    Error
                </div>
                <button data-close-button class="close-button">&times;</button>
            </div>

            <div class="error-content">
                Your password kinda sucks uwu!
            </div>
            
        </div>
    </div>
    <div id="overlay"></div>
        

</body>
</html>