<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Sets the width of the page is the devices widtth-->
    <link rel="stylesheet" href="/styles/main.css">
    <script src="scripts/jquery-3.6.0.min.js" defer></script>
    <script src="scripts/privacy.js" defer></script>
    <script src="scripts/handlers/footer-buttons.js" defer></script>

</head>

<body>
    <!--Header-->
    <header>
        <div id="header-logo-container">
          <img id="header-logo" src="./images/Untitled design (7).png" />
          <div id="name">
            Fuel Line&trade;
          </div>
        </div>
      
        <div id="others">
          <div id="anchor-row">
            <a href="/privacy">Privacy Policy</a>
            <a href="/contact">Contact</a>
          </div>
       
        </div>
      </header>
    <!--Main-->
    <main id="privacy-main">

        <div id="privacy-boundary">
            <div id="agreement-title">
                <div id="agreement">
                    Privacy Agreement
                </div>
            </div>

            <div id="policy">

                Privacy Policy
                At Fuel Line Ltd we are committed to protecting and respecting your privacy.<br><br>
    
                This policy explains when and why we collect personal information about people who
                visit the website, how we use it and how we keep it secure.<br><br>
    
                How do we collect information from you?
                Your name and email address is collected when you register to receive the
                newsletter, when you sign up to a course or place an order, and when you use our
                website. If you opt-in to receive our newsletter, the option to unsubscribe will be
                included in every e-mail.<br><br>
    
                What type of information is collected from you?
                We collect names and email addresses for the purpose of marketing Fuel Line Ltd
                products and services. This includes newsletters which contain stories, offers,
                news and updates.<br><br>
    
                If you purchase physical products (and some services) then we will also collect your
                postal address. Your details are never be automatically added to our mailing list.<br><br>
    
                How is your information used?
                We may use your information to:<br><br>
    
                Process orders you have submitted.
                Send you communications which you have requested and might be of interest to you
                (including newsletters for marketing purposes).
                Deal with entries to a competition.
                You have the right at any time to stop me from contacting you for marketing
                purposes. You can unsubscribe from the emails and easily request for your data to be
                removed. At this point your data will be deleted from all systems.<br><br>
    
                Who has access to your information?
                Your information is never shared with any third parties and we promise to make every
                effort to keep it safe. The data will be stored securely on password protected
                systems.<br><br>
    
                Other websites
                The website contains links to other websites. This privacy policy only applies to
                this website so when you visit other websites you should read their own privacy
                policies.<br><br>
    
                Changes to our privacy policy
                This privacy policy is under regular review and any updates will be placed on this
                web page. This privacy policy was updated on 15 April 2021.<br><br>
    
                How to get in touch
                If you have any questions about the privacy policy or information held about you
                please email fuellineltd@gmail.com<br><br>
            </div>
    
        </div>

     






    </main>

    <!--Footer-->
    <footer>
        <div id="navigation-buttons">
            <!--Home Button-->
            <div class="nav-buttons">
                <div class="top-bar">
                </div>
                <div class="hover-button" id="home-button">
                    <div class="button-img">
                        <img src="./images/buttons/house-logo.png" />
                    </div>
                    <div class="button-title">
                        <p>Home</p>
                    </div>
                </div>
            </div>
            <!--Map Button-->
            <div class="nav-buttons" id="map-button">
                <div class="top-bar">
                </div>
                <div class="hover-button">
                    <div class="button-img">
                        <img src="./images/buttons/map.png" />
                    </div>
                    <div class="button-title">
                        <p>Map</p>
                    </div>
                </div>
            </div>
            <!--User Button-->
            <div class="nav-buttons" id="profile-button">
                <div class="top-bar">
                </div>
                <div class="hover-button">
                    <div class="button-img">
                        <img src="./images/buttons/user-button.png" />
                    </div>
                    <div class="button-title">
                        <p>Profile</p>
                    </div>
                </div>
            </div>
            <!--Favorites Button-->
            <div class="nav-buttons">
                <div class="top-bar">
                </div>
                <div class="hover-button">
                    <div class="button-img">
                        <img src="./images/buttons/logout.png" />
                    </div>
                    <div class="button-title">
                        <p>Logout</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--END OF BODY-->
</body>

</html>