<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Sets the width of the page is the devices widtth-->
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/jquery-3.6.0.min.js" defer></script>
    <script src="/scripts/handlers/footer-buttons.js" defer></script>
    <script src="/scripts/profile.js" defer></script>
    <script src="/public/scripts/handlers/footer-buttons.js"></script>
</head>

<body>
    <!--Header-->
    <header>
        <!-- <div id="space">

        </div>
        <div id="header-logo-container">
            <img id="header-logo" src="images/Untitled design (7).png">
        </div> -->
    </header>
    <!--Navigation-->
    <nav>
    </nav>

    <!--Main-->
    <main id="profile-page">
        <div id="user-profile-x">
            <div id="user-profile-y">
                <div id="user-div">
                    <!--User Profile Box-->
                    <div id="picture-div-x">
                        <div id="semi-circle">
                            <div id="picture-div-y">
                                <div id="img-container">
                                    <div>
                                        <img src="./images/user.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="info-div">
                        <div class="info-title" id="name">
                        </div>
                        <div class="info-items" id="efficiency">
                            <p class="label">Email:</p>
                            <p class="info" id="email"></p>
                        </div>

                        <div class="info-items" id="vehicle">
                            <p class="label">Address:</p>
                            <p class="info" id="address">Vancouver, British Columbia, Canada</p>
                        </div>
                        <div class="info-items" id="efficiency">
                            <p class="label">Fuel Efficiency</p>
                            <p class="info" id="fuel-efficiency"></p>
                        </div>

                        <div class="info-items" id="etc">
                            <p class="label">etc:</p>
                            <p class="info">etc</p>
          
                        </div>
                        <div class="info-items" id="etc">
                            <p class="label">etc</p>
                            <p class="info">etc</p>
                        </div>

                    </div>

                    <div id="extra-div">
                        <div id="button-x-axis">
                            <div id="button-y-axis">
                                <button class="input-buttons" type="stats-link" id="stats-button">Statistics</button>
                            </div>

                        </div>
                    </div>

                    

                    <!-- edit popup -->
                    <div class="edit">
                        <div class="edit-container">
                        
                            <div class="edit-title">
                                <div class="title">
                                    Edit Profile
                                </div>
                                <button data-close-button class="close-button">&times;</button>
                            </div>
                
                            <div class="edit-content">
                                <div class="edit-form">
                                    <div class="field">
                                        Change Name
                                        <input class="edit-name">
                                     </div>
                                    <div class="field">
                                        Change Email
                                        <input class="edit-name">
                                    </div>
                                    <div class="field">
                                        Change Fuel Efficiency
                                        <input class="edit-name">
                                    </div>
                                    <div class="field">
                                        Change Budget
                                        <input class="edit-name">
                                    </div>
                                    <br>
                                    <div class="save">
                                        <button class="save-button">Save</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div id="overlay"></div>

                </div>

            </div>

        </div>

    </main>

    <!--Footer-->
    <footer>
        <div id="navigation-buttons">
            <!--Home Button-->
            <div class="nav-buttons">
                <div class="top-bar">
                </div>
                <div class="hover-button" id="home-button">
                    <div class="button-img">
                        <img src="images/buttons/home-button.png">
                    </div>
                    <div class="button-title">
                        <p>Home</p>
                    </div>
                </div>
            </div>
            <!--Favorites Button-->
            <div class="nav-buttons">
                <div class="top-bar">
                </div>
                <div class="hover-button">
                    
                    <div class="button-img">
                        <img src="images/buttons/favorites-button.png">
                    </div>
                    <div class="button-title">
                        <p>Favorites</p>
                    </div>
                </div>
            </div>
            <!--User Button-->
            <div class="nav-buttons" id="profile-button">
                <div class="top-bar">
                </div>
                <div class="hover-button">
                    <div class="button-img">
                        <img src="images/buttons/user-button.png">
                    </div>
                    <div class="button-title" id="profile">
                        <p>Your Profile</p>
                    </div>
                </div>
            </div>
            <!--Map Button-->
            <div class="nav-buttons"  id="map-button">
                <div class="top-bar">
                </div>
                <div class="hover-button">
                    <div class="button-img">
                        <img src="./images/buttons/map.png" />
                      </div>
                      <div class="button-title">
                        <p>Map</p>
                      </div>
                </div>
            </div>
        </div>
    </footer>

    <!--END OF BODY-->
</body>

</html>