@use "../typography/fonts.scss";
@use "../mixins/mixin.scss";
@use "../components/buttons.scss";
@use "../colors/colors.scss";

html {
    @include mixin.flex_styles_cl();
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    font-family: fonts.$main-font;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0%;

    body{
        @include mixin.flex_styles_cl();

        height: 100%;
        width: 100%;
        padding: 0%;
        margin: 0%;
        justify-content: center;
        overflow-y: hidden;
        overflow-x: hidden;

        
        header {
            @include mixin.flex_styles_rw();
            @include mixin.header_footer_styles();
            justify-content: right;
            background-color: #FF912C !important;
            
            #header-logo-container {
                -webkit-appearance: none;
                display:flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                height: 100%;
                transition: transform 1s;


                #header-logo 
                {
                    width: 30%;
                    object-fit: contain;
                    -webkit-appearance: none;
                    transform: translateX(100%);
                    padding: 10px;
                    cursor: pointer
                }

            }


            .logout-contain{
                display: none;
                width: 50%;
                height: 100%;
                flex-direction: column;
                padding-right: 10%;
                margin: auto;
                justify-content: center;

                .logout-button:active{
                    @include mixin.button-active();

                }

                .logout-button:hover{
                    @include mixin.hover-styles();
                }

                .logout-button{
                    display: none;

                    right: -100px;
                    transition: 1s;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    @include mixin.button-styles();
                    width:100% !important;
                    height: 40%;
                    color:black;
                    background-color: #b1b1b1;
                    margin: auto;
                    font-size: 2.5vh;
                    padding: 10px,20px;

                }
            }

        }


        footer {
            // @include mixin.header_footer_styles();
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 10%;
            background-color: white;

            #navigation-buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-decoration: none;

                .nav-buttons:active {
                    transform: scale(.9);
                    transition: .1s;
                    background-color: colors.$main-color;
                }

                .nav-buttons:hover {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
                    transition: 0.3s;
                }
               
                .nav-buttons {
                    display: flex;
                    flex-direction: column;
                    width: 25%;
                    height: 100%;
                

                    .top-bar {
                        display: flex;
                        width: 100%;
                        height:5%;
                        background-color: lightgray;
                    }
    

                    .hover-button {
                        display: flex;
                        flex-direction: column;
                        height: 95%;
                        width: 100%;

                        .button-img {
                            display: flex;
                            justify-content: center;
                            width :100%;
                            height:70%;

                            
                            img {
                                width:30%;
                            //    height: 100%;
                                object-fit: contain;
                            }

                        }

                        .button-title {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            width: 100%;
                            height: 10%;

                            p {
                                display: flex;
                                justify-content: center;
                                text-align: center;
                                width: 100%;
                                height: 100%;
                                font-family: "jost-variable";
                                font-size: 1.25vh;
                            }
                        }
                    }
                }
            }
        }
    }
}