/*Fonts*/
@font-face {
  font-family: "indie-flower";
  src: url("../fonts/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "jost-variable";
  src: url("../fonts/Jost-VariableFont_wght.ttf");
}
@font-face {
  font-family: "righteous-reg";
  src: url("../fonts/Righteous-Regular.ttf");
}
/* Colors*/
/*Mixins*/
.input-buttons {
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
  outline: none;
}
.input-buttons .input-fields:focus {
  border: none;
  outline: none;
}
.input-buttons .input-fields {
  display: flex;
  text-align: center;
  border: none;
  font-weight: bold;
  border-radius: 40px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 2px 3px 8px 0 #ffb877;
}

html {
  display: flex;
  flex-direction: column;
  -webkit-appearance: none;
  height: 100%;
  width: 100%;
  font-family: "jost-variable";
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0%;
}
html body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
html body header {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: right;
  width: 100%;
  height: 10%;
  background-color: #FF912C;
  justify-content: right;
}
html body header #header-logo-container {
  -webkit-appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  height: 100%;
}
html body footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: white;
}
html body footer #navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
html body footer #navigation-buttons .nav-buttons:active {
  transform: scale(0.9);
  transition: 0.1s;
  background-color: #FF912C;
}
html body footer #navigation-buttons .nav-buttons:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  transition: 0.3s;
}
html body footer #navigation-buttons .nav-buttons {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}
html body footer #navigation-buttons .nav-buttons .top-bar {
  display: flex;
  width: 100%;
  height: 5%;
  background-color: #FF912C;
}
html body footer #navigation-buttons .nav-buttons .hover-button {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 100%;
}
html body footer #navigation-buttons .nav-buttons .hover-button .button-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;
}
html body footer #navigation-buttons .nav-buttons .hover-button .button-img img {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
html body footer #navigation-buttons .nav-buttons .hover-button .button-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10%;
}
html body footer #navigation-buttons .nav-buttons .hover-button .button-title p {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "jost-variable";
  font-size: 1.25vh;
}/*# sourceMappingURL=page-setup.css.map */