/**
 * SASS STYLE-SHEET FOR INDEX.HTML
 *
 * @name: Bradley Masciotra.
 * @version: 1.0
 */

@use "../typography/fonts.scss";
@use "../mixins/mixin.scss";
@use "../colors/colors.scss";
@use "../components/page-setup.scss";


html {
    
    body {
   
        #content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: rgb(255, 255, 255);
            height: 80%;
            width: 100%;

            .row-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 20%;
                

                #main-logo {
                    display: flex;
                    margin-top: 5%;
                    height: auto;
                    width: 25%;
                    object-fit: contain;
                }
            }

            #welcome-txt {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 30%;
                width: 100%;

                #name {
                    display: flex;
                    justify-content: center;
                    height: 50%;

                    #centre-name {
                        display: flex;
                        flex-direction: column;
                        height: 80%;

                        p {
                            display: flex;
                            font-size: 5vh;
                            height: 100%;
                        }
                    }
                }

                #centre-txt {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    height: 20%;
                    width:100%;

                    #message {
                        display: flex;
                        text-align: center;
                        font-size: 2vh;
                        height: 95%;
                        justify-content: center;
                        width:90%;
                        // border: solid green 2px;
                    }
                }
            }

            #signup-login {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 30%;
                width: 100%;

                #form-align {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    height: 80%;
                    width: 100%;

                    #form {
                        display: flex;
                        height: 100%;
                        width: 80%;
                        @include mixin.rounded-border();

                        #button-columns {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 100%;
                            height: 100%;

                            .button-container {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                height: 35%;
                                margin: 1%;

                                .main-button:hover {
                                    @include mixin.hover-styles();
                                }

                                .main-button:focus {
                                    transform: scale(1.1);
                                    transition: .1s;
                                    background-color: colors.$main-color;
                                }

                                .main-button {
                                    border-radius: 40px;
                                    padding-right: 10%;
                                    padding-left: 10%;
                                    color: black;
                                    background-color: colors.$main-color;
                                    font-family: fonts.$main-font;
                                    font-size: 2vh;
                                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                                    border: none;
                                }
                            }
                        }
                        
                    }
                }

                
            }
        }
    }
}