@use "../typography/fonts.scss";
@use "../mixins/mixin.scss";
@use "../pages/index.scss";
@use "../colors/colors.scss";
@use "../components/buttons.scss";
@use "../components/page-setup.scss";


html {


    body {

        #login-page {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            #statement {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                font-size: 2em;
                height: 20%;
                // margin-top:20%;

                @media only screen and (min-width: 300px) {
                    margin-top: 18%;
                }

                @media only screen and (min-width: 550px) {
                    margin-top: 8%;
                }

                @media only screen and (min-width: 1100px) {
                    margin-top: 4%;
                }

                @media only screen and (min-width: 1500px) {
                    margin-top: 2%;
                }
            }

            #greet-container {
                display: flex;
                justify-content: center;
                height: 10%;
                // margin-top: 5%;

                #greet {
                    display: flex;
                    justify-content: center;
                }

                @media only screen and (min-width: 300px) {
                    margin-top: 5%;
                }

                @media only screen and (min-width: 550px) {
                    margin-top: 0%;
                }

                @media only screen and (min-width: 1100px) {
                    margin-top: 1%;
                }

                @media only screen and (min-width: 1500px) {
                    margin-top: 0%;
                }
            }

            #form {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 40%;
                width: 100%;




                #user-container {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 15%;
                    margin-bottom: 2%;


                    @media only screen and (min-width: 300px) {
                        margin-top: 2%;
                    }

                    @media only screen and (min-width: 550px) {
                        margin-top: 0%;
                    }

                    @media only screen and (min-width: 1100px) {
                        margin-top: 1%;
                    }

                    @media only screen and (min-width: 1500px) {
                        margin-top: 5%;
                    }

                    .input-fields:focus {
                        border: none;
                        outline: none;
                        -webkit-appearance: none;
                    }

                    .input-fields:hover {
                        cursor: pointer;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 2px 3px 8px 0 #ffb877;
                        transition: 0.3s;

                    }

                    .input-fields {
                        display: flex;
                        text-align: center;
                        border: none;
                        border-radius: 40px;
                        font-size: 2vh;
                        width: 50%;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 2px 3px 8px 0 #ffb877;
                        -webkit-appearance: none;
                        // border:solid purple 2px;
                        font-family: fonts.$main-font;

                        @media only screen and (min-width: 300px) {}

                        @media only screen and (min-width: 550px) {
                            width: 30%;
                            height: 100%;
                        }

                        @media only screen and (min-width: 800px) {
                            width: 20%;
                            height: 100%;
                        }

                        @media only screen and (min-width: 1100px) {
                            width: 18%;
                            height: 100%;
                        }

                        @media only screen and (min-width: 1500px) {
                            width: 15%;
                            height: 100%;
                        }
                    }
                }

                #pass-container {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 15%;
                    // border:solid blue 2px;

                    .input-fields:focus {
                        border: none;
                        outline: none;
                        -webkit-appearance: none;
                    }


                    .input-fields:hover {
                        cursor: pointer;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 2px 3px 8px 0 #ffb877;
                        transition: 0.3s;

                    }

                    .input-fields {
                        display: flex;
                        text-align: center;
                        border: none;
                        border-radius: 40px;
                        font-size: 2vh;
                        width: 50%;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 2px 3px 8px 0 #ffb877;
                        -webkit-appearance: none;
                        font-family: fonts.$main-font;

                        @media only screen and (min-width: 300px) {}

                        @media only screen and (min-width: 550px) {
                            width: 30%;
                            height: 100%;
                        }

                        @media only screen and (min-width: 800px) {
                            width: 20%;
                            height: 100%;
                        }

                        @media only screen and (min-width: 1100px) {
                            width: 18%;
                            height: 100%;
                        }

                        @media only screen and (min-width: 1500px) {
                            width: 15%;
                            height: 100%;
                        }
                    }
                }

                #check-boxes {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 10%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    justify-content: center;
                   
                    #show-pass {
                        display: flex;
                        width: 40%;
                        justify-content: space-around;

                        @media only screen and (min-width: 300px) {}

                        @media only screen and (min-width: 550px) {
                            justify-content: center;
                            gap:10%;

                        }

                        @media only screen and (min-width: 800px) {
                            width: 20%;
                            gap:5%;
                        }

                        @media only screen and (min-width: 1100px) {
                            width: 18%;
                            height: 100%;
                        }

                        @media only screen and (min-width: 1500px) {
                            width: 15%;
                            height: 100%;
                        }
                        div {
                            input:hover {
                                cursor: pointer;
                            }
                        }

                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }

                        label {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                }

                #buttons {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 50%;
                    gap: 10%;

                    @media only screen and (min-width: 300px) {


                    }

                    @media only screen and (min-width: 550px) {
                        height: 50%;
                        gap: 10%;
                    

                    }

                    @media only screen and (min-width: 800px) {
                        height: 90%;
                        gap: 10%;
                     
                    }

                    @media only screen and (min-width: 1100px) {
                 
                    }

                    @media only screen and (min-width: 1500px) {
              
                    }

                    #submit {
                        display: flex;
                        justify-content: center;
                        height: 45%;
                        // margin-bottom: 10%;

                        @media only screen and (min-width: 300px) {


                        }
    
                        @media only screen and (min-width: 550px) {
                            height: 55%;
                        
                        
    
                        }
    
                        @media only screen and (min-width: 800px) {
                            height: 80%;
                        }
    
                        @media only screen and (min-width: 1100px) {
                     
                        }
    
                        @media only screen and (min-width: 1500px) {
                  
                        }

                        #submit-button:hover {
                            @include mixin.hover-styles();
                            cursor: pointer;
                        }

                        #submit-button {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); //, 2px 3px 8px 0 #ffb877;
                            border-radius: 40px;
                            padding-right: 8%;
                            padding-left: 8%;
                            color: black;
                            background-color: colors.$main-color;
                            font-family: fonts.$main-font;
                            font-size: 2vh;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                            border: none;

                            @media only screen and (min-width: 550px) {
                                // height: 70%;
                                // gap: 10%;
                            
                            }
        
                            @media only screen and (min-width: 800px) {
                                padding-right: 4%;
                                padding-left: 4%;
                             
                            }
        
                            @media only screen and (min-width: 1100px) {
                                padding-right: 2%;
                                padding-left: 2%;
                            }
        
                            @media only screen and (min-width: 1500px) {
                      
                            }
                        }
                    }

                    #back {

                        display: flex;
                        justify-content: center;
                        height: 45%;
                        // margin-bottom: 10%;
                        @media only screen and (min-width: 300px) {


                        }
    
                        @media only screen and (min-width: 550px) {
                            height: 55%;
                        
                        
    
                        }
    
                        @media only screen and (min-width: 800px) {
                            height: 80%;
                        }
    
                        @media only screen and (min-width: 1100px) {
                     
                        }
    
                        @media only screen and (min-width: 1500px) {
                  
                        }


                        #back-button:hover {
                            @include mixin.hover-styles();
                            cursor: pointer;
                        }

                        #back-button {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); //, 2px 3px 8px 0 #ffb877;
                            border-radius: 40px;
                            padding-right: 8%;
                            padding-left: 8%;
                            color: black;
                            background-color: colors.$main-color;
                            font-family: fonts.$main-font;
                            font-size: 2vh;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                            border: none;

                            @media only screen and (min-width: 550px) {
                                // height: 70%;
                                // gap: 10%;
                            
                            }
        
                            @media only screen and (min-width: 800px) {
                                padding-right: 4%;
                                padding-left: 4%;
                             
                            }
        
                            @media only screen and (min-width: 1100px) {
                                padding-right: 2%;
                                padding-left: 2%;
                            }
        
                            @media only screen and (min-width: 1500px) {
                      
                            }
                        }


                    }
                }

            }
        }

        .error {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 0.5px solid lightgray;
            z-index: 10;
            background-color: rgba(248, 140, 16, 0.973);
            opacity: 90%;
            height: 30%;
            width: 80%;
            border-radius: 15px 15px 15px 15px;
            // max-width: 60%;

            .error-container {

                .error-title {
                    padding: 10px 15px 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 0.5px solid lightgray;

                    .title {
                        font-size: 1.25rem;
                        font-weight: bold;

                    }

                    .close-button {
                        cursor: pointer;
                        border: none;
                        outline: none;
                        background-color: lightgray;
                        opacity: 0.95;
                        border-radius: 50%;
                        width: 15%;
                        font-size: 2rem;

                    }
                }

                .error-content {
                    padding: 10px 15px;

                }
            }
        }
    }
}