@use "../typography/fonts.scss";
@use "../mixins/mixin.scss";
@use "../pages/index.scss";
@use "../colors/colors.scss";

html {
    @include mixin.flex_styles_cl();

    height: 100%;
    font-family: fonts.$main-font;

    body{
        @include mixin.flex_styles_cl();

        height: 100%;
        width: 100%;
        padding: 0%;
        margin: 0%;
        justify-content: center;

        header {
            @include mixin.flex_styles_rw();
            @include mixin.header_footer_styles();

            #space {
                display: flex;
                width: 33%;
            }

            #header-logo-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 33%;
                height: 100%;

                #header-logo {}

            }

            #hamburger {
                display: flex;
                justify-content: right;
                width: 33.3%;
                height: 100%;
                //  border: solid 1px red;


                #ham-menu:hover {
                    @include mixin.hover-styles();
                }

                #ham-menu {
                    display: flex;
                    height: 100%;
                }


            }

        }

        #login-page {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
        
            #statement {
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                font-size: 2em;
                font-weight: bold;
                height: 20%;
            }

            #img-container {
                display: flex;
                flex-direction: column;
                height: 10%;
                width: 100%;

                #main-img {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    height: 70%;

                    #logo {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        height: 100%;
                    }
                }
            }

            #greet {
                display: flex;
                justify-content: center;
                height: 10%;
                border: solid black 2px;
            }
        
            #form {
                display: flex;
                height: 50%;
                width: 100%;
        
                border: solid green 2px;
        
            }
        }
    }
}

