@use "../typography/fonts.scss";
@use "../mixins/mixin.scss";
@use "../pages/index.scss";
@use "../colors/colors.scss";
@use "../components/page-setup.scss";

html {
    overflow-x: hidden;
    overflow-y: hidden;
    body {
        overflow-x: hidden;
        overflow-y: hidden;
        #map-page {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            width: 100%;
            height: 80%;
            overflow-x: hidden;
            overflow-y: hidden;
            // border: solid black 3px;


            #map-x-axis {
                display: flex;
                justify-content: center;
                height: 80%;
                width:100%;

                #map-y-axis {
                    width:100%;
                    height: 100%;

                    #map-section {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        width:100%;
                    }
                }
            }

            #info {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 21%;
                background-color: white;
                text-align: center;
                input[type=text] {
                    border-radius: 25px;
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    box-sizing: border-box;
                    border: none;
                    background-color: #ffb877;
                    color: white;
                  }
                .button {
                    background-color: #FF912C;
                    border-style: solid;
                    border-color: red;
                    border-radius: 25px;
                    color: white;
                    padding: 4px 32px;
                    text-align: center;
                    width: 180px;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    transition-duration: 0.4s;
                    cursor: pointer;
                }
                #save-trip-button {
                    background-color: #FF912C;
                    border-style: solid;
                    border-color: red;
                    border-radius: 25px;
                    color: white;
                    padding: 4px 32px;
                    text-align: center;
                    width: 180px;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    transition-duration: 0.4s;
                    cursor: pointer;
                }
                .result {
                    background-color: #FF912C;
                    color: white;
                    
                    padding: 4px 32px;
                    margin: 4px 2px;
                    display: inline-block;
                }
                #map-info {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    width: 50%;
                    // border: solid 2px purple;

                    #operators{
                        display: flex;
                    
                        #calculation-form {

                        }

                    }

                    .info-container {
                        display: flex;
                        width:100%;
                        // border:solid black 1px;
                        height: 20%;
                        font-size: 1.5vh;

                        div:nth-child(1){
                            display: flex;
                            font-weight: bold;
                            width: 75%;
                            border: solid purple 1px;
                        }
                        
                        div:nth-child(2){
                            display: flex;
                            width: 25%;
                            border: solid purple 1px;
                        }
                    }
                }

                #location {
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    border: solid green 2px;

                    .button-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 50%;
                        width: 100%;

                        .centre {
                            display: flex;
                            justify-content: right;
                            width: 100%;
                            height: 60%;
                            font-family: fonts.$main-font;

                            .buttons:hover {
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
                                transition: 0.3s;
                            }

                            .buttons {
                                display: flex;
                                justify-content: center;
                                height: 100%;
                                width: 60%;
                                display: table-cell;
                                vertical-align: middle;
                                color: black;
                                padding: 1%;
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
                                font-family: fonts.$main-font;
                                border-radius: 40px;
                                outline: none;
                                border: none;
                                background-color: colors.$main-color;
                            }

                       


                        }
                    }
                }



            }
        }
    }
}
