@use "../typography/fonts.scss";
@use "../mixins/mixin.scss";
@use "../pages/index.scss";
@use "../colors/colors.scss";
@use "../components/page-setup.scss";

html {
    body {
        #map-page {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            width: 100%;
            height: 80%;
            // border: solid black 3px;

            .controls {
                margin-top: 10px;
                border: 1px solid transparent;
                border-radius: 2px 0 0 2px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 32px;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
              }
              
              #origin-input,
              #destination-input {
                background-color: #fff;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                margin-left: 12px;
                padding: 0 11px 0 13px;
                text-overflow: ellipsis;
                width: 200px;
              }
              
              #origin-input:focus,
              #destination-input:focus {
                border-color: #4d90fe;
              }
              
            #map-x-axis {
                display: flex;
                justify-content: center;
                height: 80%;
                width:100%;

                #map-y-axis {
 
                    width:100%;
                    height: 100%;

                    #map-section {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        width:100%;
                    }
                }
            }

            #info {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 20%;
                background-color: colors.$main-grey;

                #map-info {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    width: 50%;
                    // border: solid 2px purple;

                    .info-container {
                        display: flex;
                        width:100%;
                        // border:solid black 1px;
                        height: 20%;
                        font-size: 1.5vh;
                        div:nth-child(1){
                            display: flex;
                            font-weight: bold;
                            width: 75%;
                            border: solid purple 1px;
                        }
                        
                        div:nth-child(2){
                            display: flex;
                            width: 25%;
                            border: solid purple 1px;
                        }
                    }
                }

                #location {
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    border: solid green 2px;

                    .button-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 50%;
                        width: 100%;

                        .centre {
                            display: flex;
                            justify-content: right;
                            width: 100%;
                            height: 60%;
                            font-family: fonts.$main-font;

                            .buttons:hover {
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
                                transition: 0.3s;
                            }

                            .buttons {
                                display: flex;
                                justify-content: center;
                                height: 100%;
                                width: 60%;
                                display: table-cell;
                                vertical-align: middle;
                                color: black;
                                padding: 1%;
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
                                font-family: fonts.$main-font;
                                border-radius: 40px;
                                outline: none;
                                border: none;
                                background-color: colors.$main-color;
                            }

                            // #extra-button {
                            //     display: flex;
                            //     justify-content: center;
                            //     height: 100%;
                            //     width: 50%;
                            //     display: table-cell;
                            //     vertical-align: middle;
                            //     padding: 1%;
                            //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 2px 3px 8px 0 black;
                            //     font-family: fonts.$main-font;


                            // }


                        }
                    }
                }



            }
        }
    }
}
