@use "../typography/fonts.scss";
@use "../mixins/mixin.scss";
@use "../pages/index.scss";
@use "../colors/colors.scss";
@use "../components/buttons.scss";
@use "../components/page-setup.scss";

html {
    @include mixin.flex_styles_cl();

    height: 100%;
    width: 100%;
    font-family: fonts.$main-font;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0%;

    body {
        @include mixin.flex_styles_cl();

        height: 100%;
        width: 100%;
        padding: 0%;
        margin: 0%;
        justify-content: center;
        overflow-y: hidden;
        overflow-x: hidden;

        #profile-page {
            display: flex;
            width: 100%;
            height: 80%;

            #user-profile-x {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                width: 100%;

                #user-profile-y {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    height: 95%;
                    width: 100%;

                    #user-div {
                        @include mixin.profile-page-container();

                        #picture-div-x {
                            display: flex;
                            justify-content: center;
                            height: 40%;
                            width: 100%;
                            overflow: hidden;

                            #semi-circle {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                height: 100%;
                                background-color: colors.$secondary-color;
                                // border-bottom-left-radius: 15px;
                                transform: rotate(30deg);
                                border-bottom-right-radius: 300px;
                                border-top-right-radius: 150px;
                                border-top-left-radius: 15px;
                                position: relative;

                                #picture-div-y {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    height: 100%;
                                    width: 50%;

                                    #img-container {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        width: 100%;
                                        height: 100%;
                                        transform: rotate(-30deg);


                                        div {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: center;
                                            height: 70%;
                                            justify-content: center;

                                            img {
                                                display: flex;
                                                justify-content: center;
                                                border-radius: 50%;
                                                height: 100%;
                                                width: 80%;
                                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);

                                                // border: solid #b1b1b1 3px;
                                            }
                                        }

                                    }
                                }
                            }
                        }

                        // Content
                        #info-div {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            height: 50%;
                            width: 100%;

                       

                            #name {
                                font-size: 2em;
                                justify-content: center;
                                text-align: center;
                            }

                            .info-title {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                font-size: 1em;
                                font-weight: bold;
                                height: 10%;

                            }

                            .info-items {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                height: 15%;
                              //  border: solid green 3px;

                                .label {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    font-size: 1em;
                                    font-weight: bold;
                                    width: 30%;
                                    margin-left: 3%;
                                }

                                .info {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    font-size: 1em;
                                    width: 70%;
                                }

                            }
                        }

                        // Button
                        #extra-div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 17%;
                            width: 100%;


                            #button-x-axis {
                                display: flex;
                                width: 100%;
                                height: 40%;
                                flex-direction: row;
                                justify-content: center;
                                // border:solid black 2px;

                                #button-y-axis {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    // border:solid green 2px;
                                    width:30%;
                                    


                                    button:active {
                                        @include mixin.button-active();
                                    }

                                    button:hover {
                                        @include mixin.hover-styles();

                                    }

                                    button {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        text-align: center;
                                        @include mixin.button-styles();
                                        width:100% !important;
                                        height: 90%;
                                        color:black;
                                        margin: auto;
                                        font-size: 2.5vh;
                                        padding:0px;
                                   }
                                }
                            }
                        }

                        #stats-button {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 15%;

                            #stats-button:hover {
                                @include mixin.hover-styles();
                            }
                        }

                    }
                }
            }
        }

        }
        .edit{
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 0.5px solid lightgray;
            z-index: 10;
            background-color: rgb(248, 140, 16);
            opacity: 90%;
            width: 300px;
            max-width: 60%;
            padding: 15px;
            border-radius: 5%;

            .edit-container{

                .edit-title{
                    padding: 10px 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: rgb(255, 255, 255);
                    border-bottom: 0.5px solid lightgray;

                    .title{
                        font-size: 1.25rem;
                        font-weight: bold;

                    }

                    .close-button{
                        cursor: pointer;
                        border: none;
                        outline: none;
                        background-color: lightgray;
                        border-radius: 40%;
                        font-size: 1.25rem;

                }

                .edit-content{


                    .edit-form{
                        
                        .field{


                            .edit-input{



                            }
                        }
                    }
                }
            }
        }

        #overlay{
            
        }

    }
}