/*Fonts*/
@font-face {
  font-family: "indie-flower";
  src: url("../fonts/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "jost-variable";
  src: url("../fonts/Jost-VariableFont_wght.ttf");
}
@font-face {
  font-family: "righteous-reg";
  src: url("../fonts/Righteous-Regular.ttf");
}
/* Colors*/
/*Mixins*/
.input-buttons {
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
  outline: none;
}
.input-buttons .input-fields:focus {
  border: none;
  outline: none;
}
.input-buttons .input-fields {
  display: flex;
  text-align: center;
  border: none;
  font-weight: bold;
  border-radius: 40px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 2px 3px 8px 0 #ffb877;
}

html {
  display: flex;
  flex-direction: column;
  -webkit-appearance: none;
  height: 100%;
  width: 100%;
  font-family: "jost-variable";
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0%;
}
html body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}
html body header {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: right;
  width: 100%;
  height: 10%;
  background-color: #FF912C;
  justify-content: right;
}
html body header #header-logo-container {
  -webkit-appearance: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  height: 100%;
}
html body footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: white;
}
html body footer #navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
html body footer #navigation-buttons .nav-buttons:active {
  transform: scale(0.9);
  transition: 0.1s;
  background-color: #FF912C;
}
html body footer #navigation-buttons .nav-buttons:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  transition: 0.3s;
}
html body footer #navigation-buttons .nav-buttons {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}
html body footer #navigation-buttons .nav-buttons .top-bar {
  display: flex;
  width: 100%;
  height: 5%;
  background-color: #FF912C;
}
html body footer #navigation-buttons .nav-buttons .hover-button {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 100%;
}
html body footer #navigation-buttons .nav-buttons .hover-button .button-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;
}
html body footer #navigation-buttons .nav-buttons .hover-button .button-img img {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
html body footer #navigation-buttons .nav-buttons .hover-button .button-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10%;
}
html body footer #navigation-buttons .nav-buttons .hover-button .button-title p {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "jost-variable";
  font-size: 1.25vh;
}

/**
 * SASS STYLE-SHEET FOR INDEX.HTML
 *
 * @name: Bradley Masciotra.
 * @version: 1.0
 */
html body #content {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 80%;
  width: 100%;
}
@media only screen and (max-height: 400px) {
  html body #content {
    justify-content: center;
  }
}
html body #content .row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20%;
  margin-top: 20%;
}
@media only screen and (max-height: 400px) {
  html body #content .row-container {
    margin-top: 0%;
  }
}
html body #content .row-container #main-logo {
  display: flex;
  height: auto;
  width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}
html body #content #welcome-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15%;
  width: 100%;
}
html body #content #welcome-txt #name {
  display: flex;
  justify-content: center;
  height: 50%;
}
html body #content #welcome-txt #name #centre-name {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 5vh;
}
html body #content #welcome-txt #centre-txt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20%;
  width: 100%;
}
html body #content #welcome-txt #centre-txt #message {
  display: flex;
  text-align: center;
  font-size: 2vh;
  height: 95%;
  justify-content: center;
  width: 90%;
}
html body #content #signup-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  width: 100%;
}
html body #content #signup-login #form-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
  width: 100%;
}
html body #content #signup-login #form-align #form {
  display: flex;
  height: 100%;
  width: 80%;
}
html body #content #signup-login #form-align #form #button-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10%;
}
html body #content #signup-login #form-align #form #button-columns .button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35%;
}
html body #content #signup-login #form-align #form #button-columns .button-container .main-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  transition: 0.3s;
}
html body #content #signup-login #form-align #form #button-columns .button-container .main-button:focus {
  transform: scale(1.1);
  transition: 0.1s;
  background-color: #FF912C;
}
html body #content #signup-login #form-align #form #button-columns .button-container .main-button {
  border-radius: 40px;
  padding-right: 10%;
  padding-left: 10%;
  color: black;
  background-color: #FF912C;
  font-family: "jost-variable";
  font-size: 2vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
}
html body #statistics-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 100%;
}
html body #statistics-page #main-container-x {
  display: flex;
  justify-content: center;
  height: 90%;
}
html body #statistics-page #main-container-x #main-container-y {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  background-color: #b1b1b1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 15px 15px 15px 15px;
}
html body #statistics-page #main-container-x #main-container-y #total-spent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20%;
  font-size: 4vh;
}
html body #statistics-page #main-container-x #main-container-y #total-spent p {
  text-align: center;
}
html body #statistics-page #main-container-x #main-container-y #content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  background-color: #b1b1b1;
}
html body #statistics-page #main-container-x #main-container-y #content #graph-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 60%;
}
html body #statistics-page #main-container-x #main-container-y #content #graph-container #graph {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
}
html body #statistics-page #main-container-x #main-container-y #content #graph-container #graph img {
  width: 80%;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  width: 100%;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons .info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons .info div {
  display: flex;
  justify-content: center;
  width: 80%;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons .info div p {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons #display {
  display: flex;
  height: 20%;
  width: 100%;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons #display #back-x {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons #display #back-x #back-y {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
  width: 100%;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons #display #back-x #back-y button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  transition: 0.3s;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons #display #back-x #back-y button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 45%;
  font-size: 1em;
  font-family: "jost-variable";
  outline: none;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border: none;
  outline: none;
  background-color: #FF912C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  color: black;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons #display #period {
  display: flex;
  justify-content: center;
  width: 50%;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons #display #period #period-x {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons #display #period #period-x #period-y {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
  width: 100%;
}
html body #statistics-page #main-container-x #main-container-y #content #buttons #display #period #period-x #period-y select {
  border-radius: 40px;
  padding-right: 2%;
  padding-left: 2%;
  font-family: "jost-variable";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  color: black;
  outline: none;
  border: none;
}/*# sourceMappingURL=statistics.css.map */