@use "../typography/fonts.scss";
@use "../mixins/mixin.scss";
@use "../pages/index.scss";
@use "../colors/colors.scss";
@use "../components/page-setup.scss";

html {
    body {

        #statistics-page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 80%;
            width: 100%;
            // border: solid black 2px;

            #main-container-x {
                display: flex;
                justify-content: center;
                height: 90%;
                // border: solid green 3px;


                #main-container-y {
                    @include mixin.profile-page-container();

           

                    #total-spent {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        height: 20%;
                        font-size: 4vh;
                        // border: solid pink 3px;

                        p {
                            text-align: center;
                        }
                    }

                    #content {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 80%;
                        // border: solid 3px red;
                        background-color: colors.$main-grey;


                        #graph-container {

                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            width: 100%;
                            height: 60%;
                            // border:solid green 3px;

                            #graph {
                                display: flex;
                                justify-content: center;
                                width: 80%;
                                height: 100%;
                            }
                        }

                        #buttons {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            height: 40%;
                            width: 100%;

                            .info {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                height: 20%;

                                div {
                                    display: flex;
                                    justify-content: center;

                                    width: 80%;
                                    p{
                                        display: flex;
                                        justify-content: center;
                                        width: 50%;
                                        text-align: center;
                                    }
                                }
                            }

                            #display {
                                display: flex;
                                height: 15%;
                                width: 100%;

                                #back-x {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    width: 50%;
                                    height: 100%;

                                    #back-y {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        height: 80%;
                                        width: 100%;

                                        button:hover {
                                            @include mixin.hover-styles();
                                        }
                                        button {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            @include mixin.button-styles();
                                            background-color: colors.$main-color;
                                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);

                                        }
                                    }                                   
                                }

                                #period {
                                    display: flex;
                                    justify-content: center;
                                    width: 50%;
                                
                                    #period-x {

                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        width: 50%;
                                        height: 100%;

                                        #period-y {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: center;
                                            height: 80%;
                                            width: 100%;

                                            select {
                                                border-radius: 40px;
                                                padding-right: 2%;
                                                padding-left: 2%;
                                                font-family: fonts.$main-font;
                                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
                                                outline: none;
                                                border: none;


                                            }
                                        }
                                    }


                                }

                            }

                        }
                    }
                }

            }
        }
    }
}